<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletAction</servlet-name>
        <servlet-class>com.helloservlet.action.ServletAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAction</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAction2</servlet-name>
        <servlet-class>com.helloservlet.action.ServletAction2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAction2</servlet-name>
        <url-pattern>/b</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListBookServlet</servlet-name>
        <servlet-class>com.helloservlet.action.ListBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBookServlet</servlet-name>
        <url-pattern>/listBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletBookIndex</servlet-name>
        <servlet-class>com.helloservlet.action.ServletBookIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBookIndex</servlet-name>
        <url-pattern>/sbIndex</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>com.helloservlet.action.BuyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletProcess</servlet-name>
        <servlet-class>com.helloservlet.action.ServletProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProcess</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletfindByPage</servlet-name>
        <servlet-class>com.helloservlet.action.ServletfindByPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletfindByPage</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <!--
        精确匹配：/b
        通配符匹配：使用*代表任意的字符串
                    /*：任意字符串
                    /abc/*:有/abc/的字符串
        后缀匹配：不能使用/开头，要求*.任意字符串
                   *.do  以.do结尾
                   *.action 以.action结尾
    -->
    <filter>
        <filter-name>fc</filter-name>
        <filter-class>com.helloservlet.filter.FilterComment</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>fc</filter-name>
        <url-pattern>/process</url-pattern>
    </filter-mapping>
    <!--
        配置监听器
        -->
    <listener>
        <listener-class>com.helloservlet.listen.CountListener</listener-class>
    </listener>
    <!--欢迎首页-->
    <welcome-file-list>
        <welcome-file>index1.jsp</welcome-file>
    </welcome-file-list>
</web-app>